<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_username" th:content="${username}" />
    <meta name="_platform" th:content="${platform}" />
    <meta name="_registrations" th:content="${registrations}" />
    <title>FreeChat</title>
    <script type="module" crossorigin th:src="${script}"></script>
</head>
<body>
<div id="root"></div>

</body>
</html>
