<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>FreeChat | Character AI | Chat Agent | Chat AI | Role Play | AI | 狐狸猜 | 智能虚拟角色 | 聊天智能体 | 智能聊天 | 角色扮演 | 人工智能</title>
    <meta name="description" content="FreeChat helps you create your own soul mate through AI. It also serves as a prompt engineering platform. (狐狸猜通过 AI 帮您创建属于自己的心灵伴侣。它也能作为一个提示词工程平台。)" />
    <meta name="keywords" content="FreeChat,Character AI,Chat Agent,狐狸猜,智能虚拟角色,聊天智能体,角色扮演" />
    <meta name="applicable-device" content="pc,mobile">
    <link rel="alternate" hreflang="zh_CN" href="https://cn.freechat.fun">
    <link rel="canonical" href="https://freechat.fun">
    <meta property="og:title" content="FreeChat - Chat Agent|狐狸猜 - 聊天智能体" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://freechat.fun/img/freechat_light.png" />
    <meta property="og:url" content="https://freechat.fun" />
    <meta property="og:description" content="FreeChat helps you create your own soul mate through AI. (狐狸猜通过 AI 帮您创建属于自己的心灵伴侣。)" />
    <meta property="og:site_name" content="FreeChat|狐狸猜" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="zh_CN" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="shortcut icon" href="https://freechat.fun/favicon.ico">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_username" th:content="${username}" />
    <meta name="_platform" th:content="${platform}" />
    <meta name="_registrations" th:content="${registrations}" />
    <meta name="_location" th:content="${location}" />
    <meta name="_icp_code" th:content="${icpCode}" />
</head>
<body>
    <div id="root">
        <h1 style="display: none;">FreeChat helps you create your own soul mate through AI. It also serves as a prompt engineering platform. (狐狸猜通过 AI 帮您创建属于自己的心灵伴侣。它也能作为一个提示词工程平台。)</h1>
    </div>
    <script type="module" crossorigin th:src="${script}"></script>
</body>
</html>
