<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreeChat Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="shortcut icon" href="https://freechat.fun/favicon.ico">
</head>
<body>
    <div id="root">
    </div>
    <script type="module" crossorigin th:src="${script}"></script>
</body>
</html>
