<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Test Result</title>
</head>
<body>
<div>
    <pre th:text="${result}">
        Oops...
    </pre>
</div>
</body>
</html>