annotations:
  licenses: Apache-2.0
  group: fun.freechat
apiVersion: v2
appVersion: 'latest'
dependencies:
  - condition: mysql.enabled
    name: mysql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 14.x
    tags:
      - backend
      - mysql
      - sql
      - database
  - condition: redis.enabled
    name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 25.x
    tags:
      - backend
      - redis
      - keyvalue
      - database
  - condition: milvus.enabled
    name: milvus
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.x
    tags:
      - backend
      - milvus
      - embedding
      - database
  - condition: prometheus.enabled
    name: prometheus
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 2.x
    tags:
      - backend
      - prometheus
      - metrics
      - alert
  - condition: grafana.enabled
    name: grafana
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 12.x
    tags:
      - backend
      - grafana
      - metrics
      - dashboard
  - condition: grafana-loki.enabled
    name: grafana-loki
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 6.x
    tags:
      - backend
      - grafana-loki
      - metrics
      - log
      - alert
  - condition: kube-state-metrics.enabled
    name: kube-state-metrics
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 5.x
    tags:
      - backend
      - kube-state-metrics
      - metrics
description: A Helm chart for freechat
maintainers:
  - name: dev.freechat.fun
    email: dev.freechat.fun@gmail.com
    url: https://github.com/freechat-fun/freechat
name: freechat
type: application
version: 2.7.0
