name: Java CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - 'LICENSE'
      - '.github/*.md'
      - '.github/*.yaml'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - 'LICENSE'
      - '.github/*.md'
      - '.github/*.yaml'

jobs:
  java_build:
    strategy:
      matrix:
        java_version:
          - 17
          - 21
          - 23
        include:
          - java_version: '17'
            mvn_opts: ''
            experimental: false
          - java_version: '21'
            mvn_opts: ''
            experimental: false
          - java_version: '23'
            mvn_opts: ''
            experimental: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create branch from commit by event name
        run: |
          if [[ '${{ github.event_name }}' == 'push' ]]; then
            git branch __branch_before ${{ github.event.before }}
          elif [[ "${{ github.event_name }}" == 'pull_request' ]]; then
            git branch __branch_before ${{ github.event.pull_request.base.sha }}
          fi
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Compile and test with JDK ${{ matrix.java_version }}
        run: |
          mvn -B -U test javadoc:aggregate \
            ${{ matrix.mvn_opts }}

      - name: Integration test with JDK ${{ matrix.java_version }}
        ## The step or job will only run if the `experimental` variable
        ## in the matrix is false (not set to true)
        if: ${{ !matrix.experimental }}
        run: |
          mvn -B -U verify \
            -Dgib.disable=false -Dgib.referenceBranch=__branch_before \
            ${{ matrix.mvn_opts }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/*-reports/TEST-*.xml'
          annotate_only: true